
@font-face {
	font-family: "Minecraft Regular";
	src: url("fonts/1_Minecraft-Regular.eot"); /* EOT file */
	src: url("fonts/1_Minecraft-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
			 url("fonts/1_Minecraft-Regular.woff") format("woff"), /* Modern browsers */
			 url("fonts/1_Minecraft-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
			 url("fonts/1_Minecraft-Regular.svg#Minecraft-Regular") format("svg"); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}

* {
	padding:0;
	box-sizing: border-box;
}

body {
	font-family: "Minecraft Regular", Helvetica, sans-serif;
	font-size: 1.2rem;
	color: #d0c5e6;
	background-image: url("backgrounds/moondust.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	scrollbar-color: #9D72ED #27104E;
	max-width: 100%;
	margin: 0;
	padding: 0;
	word-wrap: break-word;
	overflow-wrap: break-word;
	overflow: hidden;
}

.topbar {
	color: #d0c5e6;
	background-color: #27104E;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;
	overflow: hidden;
}

.sidebar-toggle {
	color: #9D72ED;
	background-color: transparent;
	height: 90%;
	aspect-ratio: 1;
	border: none;
	cursor: pointer;
}

.moondust-logo {
	height: 90%;
	width: auto;
}
.moondust-logo:hover { animation: tada 0.5s;}

.moondust-title { padding-left: 0.4em; }

.sidebar {
	position: fixed;
	background-color: #27104e;
	padding-top: 1em;
	opacity: 0.8;
}

.sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #d0c5e6;
	display: block;
	transition: color 0.3s;
}

.sidebar a:hover {
	color: #7c5ca1;
}

.dropbtn {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #d0c5e6;
	display: block;
	transition: 0.3s;
	background-color: #27104e;
	border: none;
	font-family: "Minecraft Regular", Helvetica, sans-serif;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	min-width: 160px;
	z-index: 1;
}

.dropdown-content a {
	background-color: #d0c5e6;
	color: #27104e;
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover { background-color: #ddd; }

.dropdown:hover .dropdown-content { display: block; cursor: pointer; }
.dropdown:hover .dropbtn { color: #7c5ca1; cursor: pointer; }

.content {
	scrollbar-gutter: stable both-edges;
	padding: 16px;
	overflow-x: hidden; /* Prevent horizontal scrolling */
	overflow-y: auto;   /* Allow vertical scrolling */
}

.bottombar {
	font-size:16px;
	text-align:center;
	background-color:#27104E;
}

.discord {
	position: absolute;
	right: 0;
	bottom: 0;
}

.dust {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 10px 0;
}

.dust img {
	width: 50px;
	animation: dust 5s linear infinite;
}

@keyframes dust {
	0% {
			transform: translateY(-80vh);
			opacity: 0;
	}
	50% {
			opacity: 1;
	}
	70% {
			opacity: 1;
	}
	100% {
			transform: translateY(0);
			opacity: 0;
	}
}

.dust img:nth-child(1) {
	width:35px;
	animation-delay: 0s;
}

.dust img:nth-child(2) {
	width: 51px;
	animation-delay: 6s;
}

.dust img:nth-child(3) {
	width: 41px;
	animation-delay: 1s;
}

.dust img:nth-child(4) {
	width: 31px;
	animation-delay: 5s;
}

.dust img:nth-child(5) {
	width: 21px;
	animation-delay: 3s;
}

.dust img:nth-child(6) {
	width: 50px;
	animation-delay: 8s;
}

.dust img:nth-child(7) {
	width: 25px;
	animation-delay: 0.7s;
}

img { /* No img drag or highlight */
	user-select: none;
	-ms-user-select:none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
}

/* home */
.box {
	background-color: rgb(46, 46, 46, .5);
	width: 50%;
	height: 175px;
	position: relative;
	margin: auto;
	margin-top: 55px;
	border: 5px solid #27104e;
	border-image-slice: 1;
}

.title {
	color: #9D72ED;
	text-shadow: 5px 5px black;
	font-size: 40px;
	text-align: center;
	margin-top: 20px;
}

.subtitle {
	text-align: center;
	margin-top: -50px;
	cursor: pointer;

}
.subtitle h2 {
	font-size: 25px;
	color: white;
	text-shadow: 5px 5px black;

}

.link-box {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;

}

.link-button {
	min-width: 45px;
}
.link-button:hover {
	animation: tada 0.5s;
}

/* staff */
.staff-page {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(24em, 1fr));
	gap: 2em;
}

.staff-member {
	box-sizing: border-box;
	text-align: center;
	word-wrap: normal; /* For older browsers */
	overflow-wrap: normal; /* For newer browsers */
}

.staff-member h1, .staff-member h2 {
	margin: 0;
}

.staff-member img {
	height: 2em;
	display: block;
	margin: 0 auto;
}

/* maps */
.map {
	text-align: center;
	color: #8e69b9;
	background-color: #27104E;
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	border: 3px #27104e solid;
	padding: 100px 10px;
	margin: 20px 0;
	text-shadow:
		-1px -1px 0 #3b1b72,
		 1px -1px 0 #3b1b72,
		-1px  1px 0 #3b1b72,
		 1px  1px 0 #3b1b72;
	transition: color 0.3s, text-shadow 0.3s;
}

.map.survival {
	background-image:url(backgrounds/survival.png);
	margin-top: 0;
}

.map.skyblock {
	background-image:url(backgrounds/skyblock.png);
}

.map.creative {
	background-image:url(backgrounds/creative.png);
}

.map.tiny {
	background-image:url(backgrounds/tiny.png);
	margin-bottom: 0;
}

.map:hover {
	color: #9d76ca;
	text-shadow:
	-1px -1px 0 #27104E,
	1px -1px 0 #27104E,
	-1px  1px 0 #27104E,
	1px  1px 0 #27104E;
}

/* newsletters */
.newsletter-page {
	padding:0;
	margin:0;
}

.newsletter-box {
	display: flex;
	flex-direction: column;
	gap: 0.17em;
	width: auto;
	padding: 0;
	margin: 0;
 }

 .newsletter-button {
	font-family: "Minecraft Regular", Helvetica, sans-serif;
	color: #d0c5e6;
	text-decoration: none;
	text-align: center;
	background-color: #27104E;
	display: block;
	border: 5px solid #180a30;
	border-radius: 0.25em;
	width: 13.7em;
	padding: 0.3%;
	margin: 0;
	transition: color 0.5s;
}
.newsletter-button:hover { color: #7c5ca1; }

.newsletter {
	font-size: 1rem;
	border: none;
	width: 100%;
}

.content:has(.newsletter) {
	display: flex;
	top: calc(var(--topbar-size) - 42px) !important;
	padding: 0;
}

/* misc */
.application {
	border: none;
	width: 60%;
	height: 100%;
}

.contentGuides {
	position:fixed;
	width:100%;
	padding-top:2.76%;
}

@keyframes tada {
	from {
		transform: scale3d(1, 1, 1);
	}

	10%, 20% {
		transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
	}

	30%, 50%, 70%, 90% {
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}

	40%, 60%, 80% {
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

@media screen and (max-height: 450px) {
	.sidebar {padding-top: 15px;}
	.sidebar a {font-size: 18px;}
}

@media (max-width: 900px) { /* tablet */
	.application { width: 100%; }
}

@media (max-width: 600x) { /* phone */

}